/* GENERAL */

html {
	font-size: 62.5%;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
	line-height: 1.6rem;
	background-color: #f1f1f1;
}

/* HEADER */
header {
	background-image: url("../images/header-startup-de-a-a-z.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
}

.container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#logo {
	width: 45rem;
	height: 45rem;
	margin-top: 5rem;
}

#cloud {
	width: 70rem;
	height: 50rem;
	position: relative;
	z-index: 1;
	margin-top: -20rem;
}

@media screen and (min-width: 320px) and (max-width: 750px) {
	#logo {
		width: 50rem;
		height: 50rem;
		margin-top: 5rem;
	}

	#cloud {
		width: 100rem;
		height: 40rem;
		position: relative;
		z-index: 1;
		margin-top: -30rem;
	}
}

button {
	position: absolute;
	top: 50rem;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0 auto;
	z-index: 2;
	background-color: #0f496f;
	color: #fff;
	width: 35rem;
	height: 8rem;
	border-style: none;
	border-radius: 2rem;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 2.5rem;
	letter-spacing: .1rem;
	font-weight: 700;
}

button:hover {
	background-color: #263c84;
}

/* SECTION */
.title {
	padding-top: 5rem;
	z-index: 3;
}

.title h1 {
	text-align: center;
	font-weight: 700;
	font-size: 3rem;
	text-transform: uppercase;
}

.text {
	padding-top: 3rem;
	padding-bottom: 10rem;
	z-index: 3;
}

.text p {
	font-weight: 300;
	font-size: 1.4rem;
	text-align: center;
}

.text h2 {
	font-weight: 400;
	font-size: 2rem;
	text-align: center;
}

/* PÚBLICO */
#helicoptero, #aviao, #foguete {
	height: 10rem;
}

/* CONTEÚDO */
.conteudo {
	background-color: #c9c9c9;
}